#my_google_map{
	background-color:red;
	height:400px;
	width:750px;
	margin:auto;
	border-radius: 20px;
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
}